.worker-container {
  display: flex;
  flex-direction: column;
}

.worker-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: green;
}

.header {
  height: 100vh;
  background: url("link/do/obrazka.jpg") center/cover no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation {
  background-color: #333;
  color: white;
  padding: 20px;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navigation li {
  margin-right: 20px;
}

.navigation li:last-child {
  margin-right: 0;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.navigation a.disabled {
  cursor: not-allowed;
}

.section {
  height: 1000px;
  margin-bottom: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 40px 0;
}

.section-home {
  height: 100vh;
  background: url("link/do/obrazka.jpg") center/cover no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation {
  background-color: #333;
  color: white;
  padding: 20px;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navigation li {
  margin-right: 20px;
}

.navigation li:last-child {
  margin-right: 0;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.navigation a.disabled {
  cursor: not-allowed;
}

.section-pracownicy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pracownik {
  width: 250px;
  height: 250px;
  margin: 10px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s;
}

.pracownik:hover {
  transform: scale(1.05);
}

.pracownik:nth-of-type(odd) {
  background-image: url("https://1drv.ms/i/s!ArlhzT5hLDoHklGilAzZNVOcwD5X?e=cyv0ez");
}

.pracownik:nth-of-type(even) {
  background-image: url("link/do/zdjecia2.jpg");
}
