* {
  font-family: Roboto;
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

.worker-container {
  display: flex;
  flex-direction: column;
}

.section-home {
  height: calc(100vh - 69px);
  background: url("tlo.png") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.navigation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navigation li {
  margin-right: 20px;
}

.navigation li:last-child {
  margin-right: 0;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.navigation a.disabled {
  cursor: not-allowed;
}

.section {
  height: 1000px;
  margin-bottom: 20px;
}

.body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.section-home .container {
  color: #fff;
  z-index: 2;
}
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 40px 0;
}

.section-employee {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.employee:hover {
  transform: scale(1.05);
}

.employee:nth-of-type(odd) {
  background-image: url("https://1drv.ms/i/s!ArlhzT5hLDoHklGilAzZNVOcwD5X?e=cyv0ez");
}

.employee:nth-of-type(even) {
  background-image: url("link/do/zdjecia2.jpg");
}

.disabled {
  cursor: not-allowed;
}

.section-home {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.section-home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section-home-link {
  padding: 8px 40px;
  color: white;
  border: 3px solid white;
  text-decoration: none;
  font-size: 18px;
}

.section-home-header {
  font-size: 35px;
  font-weight: 700px;
  margin-bottom: 70px;
}

.specialist-photo {
  width: 197px;
  height: 197px;
  background: gray;
  border-radius: 50%;
  flex-shrink: 0;
  background-image: url("46381.jpg");
}
.specialist {
  display: flex;
  gap: 60px;
}
.specialist-name {
  color: #000;
  font-weight: 700;
}
.specialist-name-two {
  color: #000;
  font-weight: 700;
}
.specialist-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 197px;
}
.specialist-two {
  display: flex;
  gap: 60px;
}
.specialist-description-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.specialist-photo-two {
  width: 197px;
  height: 197px;
  background-image: url("pracabiuro-min.jpg");
  border-radius: 50%;
  flex-shrink: 0;
}

.section-infoforspecjalist {
  font-size: 40px;
  font-weight: 700px;
  background-color: #405d78;
}

.employee {
  width: 250px;
  height: 250px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s;
  background: white;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-home-specialists {
  padding: 40px 0;
}

.section-tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation {
  background-color: #333;
  color: white;
  padding: 20px;
}

.navigation h6 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: Roboto;
  color: #fff;
}
